.page
  position relative
  display flex
  .board-wrapper
    height 600px
    width 800px
    margin 0 auto
    background-image linear-gradient(top, white, #eee)
    border 2px solid green
    position relative

    &:focus
      outline none

    .board-header
      font-family monospace
      font-size 2em
      background-color #666
      color #ddd
      height 1.5em
      padding 10px
      border-bottom 2px solid green

      .instructions
        font-size 12px
        float right
        
    .middle-ground
      position relative
      height 489px
      width 800px
      background-color: white
      background-image: url('https://i.ytimg.com/vi/Sv8HPkt-RaY/maxresdefault.jpg')

      .shot
        position absolute
        width 2px
        height 20px
        background-color red
        backface-visibility hidden

      .bad-guy-one
        position absolute
        width 20px
        height 30px
        background-image: url('http://www.game-art-hq.com/wp-content/uploads/Big-Daddy-Playstation-Allstars-Battle-Royale.jpg')
        background-size: 20px 40px 
        backface-visibility hidden
      .bad-guy-two
        position absolute
        width 30px
        height 30px
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRSz5T4_OykIdEX7bIINU1rEWrGzmg6x-OeaCgUP8KBCBt9PS2i&usqp=CAU')
        background-size: 30px 30px 
        backface-visibility hidden 

    .player-row
      background-color #ddd
      height 5em
      bottom 0
      left 0
      width 100%
      border-top 2px solid green
      position absolute

      .inner-player-row
        position relative

        .player
          position absolute
          width 0
          height 0
          top 2px
          border-left 60px solid transparent
          border-bottom 60px solid transparent 
          background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf5RoZq7VBaFuKkQfYxNGChrKYPw4AUozavYsBA1cFkn3NmGLm&usqp=CAU')
          background-size: 55px 55px 
  .countdown
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid grey;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    height: 300px;
    background-color: rgb(22, 27, 31);
    box-shadow: 0 3px 6px rgb(12, 12, 12);
    background-color: red;
    text-align: center;
    text-decoration-style: wavy;
    .playmusic   
      font-family: Arial, Helvetica, sans-serif;
      font-color: blue;
      font-size: 15px;

.gameOverpage  
    height 300px
    width 400px
    margin 0 auto
    background-image linear-gradient(top, white, #eee)
    border 2px solid green
    position relative
    background-color blue
    text-align center
