.page
  position relative
  display flex

  .board-wrapper
    height 600px
    width 800px
    margin 0 auto
    background-image linear-gradient(top, white, #eee)
    border 2px solid green
    position relative

    &:focus
      outline none

    .board-header
      font-family monospace
      font-size 2em
      background-color #666
      color #ddd
      height 1.5em
      padding 10px
      border-bottom 2px solid green

      .instructions
        font-size 12px
        float right

    .middle-ground
      position relative
      height 489px
      width 800px

      .shot
        position absolute
        width 2px
        height 20px
        background-color red
        backface-visibility hidden

      .bad-guy
        position absolute
        width 30px
        height 10px
        background orange
        backface-visibility hidden

    .player-row
      background-color #ddd
      height 3em
      bottom 0
      left 0
      width 100%
      border-top 2px solid green
      position absolute

      .inner-player-row
        position relative

        .player
          position absolute
          width 0
          height 0
          top 5px
          border-left 40px solid transparent
          border-right 40px solid transparent
          border-bottom 40px solid #aaa
